<div class="card-trip">
  <img src="<%= url %>" />
  <div class="card-trip-infos">
    <div>
      <h2><%= moviename %> <span class="text-muted fs-6 fw-lighter" >• <%= rating %> ⭐️</span></h2>
      <p><%= overview %></p>
        <div class="mt-3 d-flex justify-content-between">
          <h3 class="fs-5 fst-italic" > <i class="fa fa-quote-left" aria-hidden="true"></i> <%= comment.capitalize() %> </h3>
          <%= link_to(bookmark_path( id ), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}) do %>
            <h3 class="fs-5 text-danger text-decoration-underline" > Delete</h3>
          <% end %>

        </div>
    </div>
  </div>
</div>
